# Secret key for Auth.js. Generate with `npx auth secret`.
AUTH_SECRET="your_auth_secret"

# PostgreSQL database connection URL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?schema=public"

# GitHub authentication credentials
# Obtain these from GitHub OAuth Apps: https://github.com/settings/developers
AUTH_GITHUB_ID=your_github_id
AUTH_GITHUB_SECRET=your_github_secret

OPENROUTER_API_KEY=your_gemini_key
GITHUB_TOKEN=your_gh_token

# Generate with openssl rand -hex 32
GITHUB_WEBHOOK_SECRET=your_gh_webhook_secret
